@charset "UTF-8";

/* TEXTO */

main > h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

main > p {
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5em;
    text-indent: 30px;
}

/* MEMBROS */

main > div.equipe {
    text-align: center;
    margin: auto;
    padding: 15px 45px;
}

main > div.equipe > div.membro {
    border: 1px solid #00000095;
    display: inline-block;
    text-align: center;
    padding: 8px;
    margin: 0px 5px 14px 5px;
}

main > div.equipe > div.membro > img {
    height: 230px;
    width: 230px;
}

main > div.equipe > div.membro > h2 {
    font-size: 1.25em;
}