@charset "UTF-8";

main > h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

main > p {
    text-align: justify;
    margin-bottom: 10px;
    line-height: 1.5em;
    text-indent: 30px;
}

main > div.membro {
    background-color: #F4F4F4;
    margin: 16px auto;
    border: 1px solid black;
    text-align: center;
    padding: 8px;
    max-width: 250px;
}

main > div.membro > img {
    width: 250px;
    height: 250px;
    margin-bottom: 8px;
}

main > div.membro > div.info-membro > h2 {
    font-size: 1.25em;
}

